body
{
background-color: #F9D0C2;
font-family: 'Merriweather','Times New Roman', serif;
/*if(merriweather=false){font-family=timesnewroman;}*/
color:#666666; /*grey*/
}

header
{
  background: gray;
}

h1
{
  font-weight:bold;
}

h2
{
  font-weight:normal;
  font-size: 18px;
}

ul
{
  font-weight:normal;
  font-style:italic;
  font-size:24px;
}

a
{
  font-weight:bold;
  font-style:italic;
  font-size:16px;
  color:#666666; /*grey*/
}

button
{
  background-color: white;
  border: none;
  padding:5px;
  border-radius: 3px;
}
