body
{
background-color: #F9D0C2;
}

h1
{
  font-family: 'Merriweather', serif;
  font-weight:bold;
  color:#666666; /*grey*/
}

h2
{
  font-family: 'Merriweather', serif;
  font-weight:normal;
  font-size: 12;
  color: #666666; /*grey*/
}

a
{
  font-family: 'Merriweather', serif;
  font-weight:normal;
  font-style:italic;
  font-size:16px;
  color: #666666; /*grey*/
}

button
{
  background-color: yellow;
  border: none;
  font-family:Merriweather,serif;
  padding:10px;
}

button:hover
{
  padding:15px;
}
