body
{
background-color: #EEDDDB; /*light pink*/
font-family: 'Merriweather','Times New Roman', serif;
/*if(merriweather=false){font-family=timesnewroman;}*/
color:#B4776C; /*mauve*/
margin:0px;
padding:0px;
}

header
{
  padding:10px 20px;
  display: flex;
  flex-direction:row;
}

ul
{
  font-weight:normal;
  font-style:italic;
  font-size:12px;
  list-style-type:none;
  margin:0px;
  padding:0px;
}

li
{
  display:inline-block;
  margin-right: 20px;
}

a
{
  color:#B4776C; /*mauve*/
}

a:hover
{
  color:#B4776C; /*mauve*/
  font-style:normal;
  text-decoration:none;
}

section
{
  padding-left: 30px;
  margin: 0px;
}

div.hw
{
  background: rgba(255,255,255,.5);
  padding:5px 15px 10px 15px;
  width:300px;
  text-align:center;
  border-radius:8px;
  margin:auto;
}

div.hw h1
{
  font-weight:bold;
  color: #666666; /*grey*/
}

div.school-year
{
  background: rgba(255,255,255,.75);
  padding:10px;
  width:400px;
  text-align:center;
  margin:auto;
  margin-top: 15px;
}

h2
{
  font-weight:normal;
  font-size: 14px;
  margin:auto;
}
