body
{
background-color: #EEDDDB; /*light pink*/
font-family: 'Merriweather','Times New Roman', serif;
/*if(merriweather=false){font-family=timesnewroman;}*/
color:#B4776C; /*mauve*/
margin:0px;
padding:0px;
}

header
{
  padding:10px 20px;
  display: flex;
  flex-direction:row;
}

ul
{
  font-weight:normal;
  font-style:italic;
  font-size:12px;
  list-style-type:none;
  margin:0px;
  padding:0px;
}

li
{
  display:inline-block;
  margin-right: 20px;
}

a
{
  color:#B4776C; /*mauve*/
}

a:hover
{
  color:#B4776C; /*mauve*/
  font-style:normal;
  text-decoration:none;
}
