body
{
background-color: #F5F5D5;
margin:0px;
padding:0px;
}

h1
{
  font-family: 'Josefin Sans', 'Arial', sans-serif;
  color: #1C4010; /*dark green*/
  font-weight: 700; /*bold*/
  font-size: 32px;
  text-align:center;
}

h2
{
  font-family:'Josefin Sans', 'Arial', sans-serif;
  color: #1C4010; /*dark green*/
  font-weight: 700; /*bold*/
  font-size: 24px;
  text-align:center;
}

h3
{
  font-family:'Josefin Sans', 'Arial', sans-serif;
  color: black;
  font-weight: 600; /*semi-bold*/
  font-size: 18px;
}

p
{
  font-family: 'Commissioner', 'Arial', sans-serif;
  color: black;
  font-weight: 500; /*medium*/
  font-size: 16px;
}

p.description
{
  font-weight: 400; /*regular*/
  font-size: 12px;
}

#flex
{
  display:flex;
  flex-direction:column;
}

.box
{
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:0;
}

.box.home
{
  display:flex;
  flex-direction:column;
  height:100%;
}

.box.menu
{
  /*background:white;*/
  /*display:grid;
  grid-template-columns: 1fr;
  grid-row-gap:30px;
  margin:5% 10%;*/
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-around;
  align-items:flex-start;
}

.box.locations
{
  display:flex;
  flex-direction:column;
}

.box.about
{
  display:flex;
  flex-direction:column;
}

.logo
{
  width:300px;
  height:150px;
  object-fit:cover;
  margin:50px 0;
}

.navigator
{
  display:flex;
  flex-direction:row;
  margin:0;
  padding:0;
}

.navigator > div
{
  margin:0;
  padding:0;
}
.nav
{
  text-align:center;
  font-size:18px;
}
a
{
  display:inline-block;
  margin:10px;
  text-decoration:none;
}

a:hover
{
  opacity:.5;
}

.head-img-box
{
  width:100%;
  /*min-height:340px;*/
  object-fit:cover;
}

.header-img
{
  width:100%;
  max-height:500px;
  /*min-height:340px;*/
  object-fit:cover;
}

.box-content
{
  /*grid-column:1/2;*/
  display:grid;
  grid-template-columns:1fr 1fr 10fr 1fr 1fr 1fr;
  grid-column-gap:10px;
}

.box-flex
{
  /*grid-column:1/2;*/

  display:flex;
  flex-direction:column;
  padding-left:5px;
  margin:auto 0;
}

.sandwich
{
  /*grid-column:1/2;*/

  display:grid;
  grid-template-columns:5fr 1fr;
  min-width:300px;
  grid-column-gap:10px;
  margin:auto 0;
}

.max-width
{
  margin:30px;
}

@media screen and (max-width:1200px)
{
  .max-width
  {
    max-width:1000px;
  }
}

@media screen and (min-width:1200px)
{
  .max-width
  {
    max-width:500px;
  }
}

.words
{
  display:flex;
  justify-content:center;
  align-items:center;
}

.major
{
  /*background:gray;*/
  grid-row:1/2;
  grid-column:1/7;
}

.lesser
{
  /*background:yellow;*/
  grid-row:1/2;
  grid-column:1/7;
}

.least
{
  /*background:orange;*/
}

.row-1
{
  grid-column:1/2;
}

.row-2
{
  grid-column:2/3;
}

.row-3
{
  grid-column:3/4;
}

.row-4
{
  grid-column:4/5;
}

.row-5
{
  grid-column:5/6;
}

.row-6
{
  grid-column:6/7;
}

.full-row
{
  grid-column:1/7;
}

.right
{
  display:flex;
  justify-content:flex-end;
}

.hot-or-cold
{
  height:12px
}

.menu-item
{
  justify-content:flex-start;
}

.location-elements
{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  margin:0;
  padding:5px;;
  align-items:center;
  justify-content:center;
}

.location-img
{
  height:300px;
  width:300px;
  object-fit:cover;
}

.about-elements
{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  padding:5px;
  justify-content:center;
  align-items:flex-start;
}

.location-item
{
  margin: 0 15px 15px 15px;
}

.center
{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.about-img
{
  height:415px;
  width:100%;
  max-width:480px;
  object-fit:cover;
  margin:10px;
}

.img-box
{
  overflow:hidden;
}

.about-item
{
  max-width:480px;
  margin:0 15px;
}

.pink
{
  background:pink;
}


/*.sections
{
  display:flex;
  flex-direction:column;
  width:480px;
  background:blue;
}
.home
{
  display:grid;
  grid-template-rows:1fr 2fr;
  grid-template-columns:10% auto;
  height:10px;
}

.menu-icon
{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:46px 28px;
  background:pink;
  grid-column:1/2;
  grid-row:1/2;
  z-index:10;
}

img.one-of-three
{
  height:9px;
  margin-bottom:9px;
  /*background:white;
}
img.one-of-three.bottom
{
  margin-bottom:0;
}

div.logo
{
  background:yellow;
  grid-column:1/3;
  grid-row:1/2;
  padding:49px auto;
  margin:0;
  display:flex;
  justify-content:center;
  align-items:center;
}

img.logo
{
  background:white;
  height:150px;
}

.banner-img
{
  background:purple;
  grid-row:2/3;
}*/
